<h1 translate="Galeria"></h1>
<br>
<p>Confira as fotos de nosso evento</p>

<!-- <h2>1</h2> -->

<div class="outer">
  <div id="g01" class="galeria-owl owl-carousel owl-theme">
    <div class="item" ng-repeat="foto in conteudo1">
      <img class="owl-lazy" data-src="{{foto.full}}" class="img-responsive" alt="">
    </div>
  </div>
  <div id="t01" class="thumbs-owl owl-carousel owl-theme">
    <div class="item" ng-repeat="foto in conteudo1">

      <img class="owl-lazy" data-src="{{foto.thumb}}" class="img-responsive" alt="">
    </div>
  </div>
</div>

<hr>

<!-- <h2>2</h2> -->

<div class="outer">
  <div id="g02" class="galeria-owl owl-carousel owl-theme">
    <div class="item" ng-repeat="foto in conteudo2">
      <img class="owl-lazy" data-src="{{foto.full}}" class="img-responsive" alt="">
    </div>
  </div>
  <div id="t02" class="thumbs-owl owl-carousel owl-theme">
    <div class="item" ng-repeat="foto in conteudo2">

      <img class="owl-lazy" data-src="{{foto.thumb}}" class="img-responsive" alt="">
    </div>
  </div>
</div>

<hr>


<!-- <h2>3</h2> -->

<div class="outer">
  <div id="g03" class="galeria-owl owl-carousel owl-theme">
    <div class="item" ng-repeat="foto in conteudo3">
      <img class="owl-lazy" data-src="{{foto.full}}" class="img-responsive" alt="">
    </div>
  </div>
  <div id="t03" class="thumbs-owl owl-carousel owl-theme">
    <div class="item" ng-repeat="foto in conteudo3">

      <img class="owl-lazy" data-src="{{foto.thumb}}" class="img-responsive" alt="">
    </div>
  </div>
</div>

<hr>


<!-- <h2>4</h2> -->

<div class="outer">
  <div id="g04" class="galeria-owl owl-carousel owl-theme">
    <div class="item" ng-repeat="foto in conteudo4">
      <img class="owl-lazy" data-src="{{foto.full}}" class="img-responsive" alt="">
    </div>
  </div>
  <div id="t04" class="thumbs-owl owl-carousel owl-theme">
    <div class="item" ng-repeat="foto in conteudo4">

      <img class="owl-lazy" data-src="{{foto.thumb}}" class="img-responsive" alt="">
    </div>
  </div>
</div>

<hr>


<!-- <h2>5</h2> -->

<div class="outer">
  <div id="g05" class="galeria-owl owl-carousel owl-theme">
    <div class="item" ng-repeat="foto in conteudo5">
      <img class="owl-lazy" data-src="{{foto.full}}" class="img-responsive" alt="">
    </div>
  </div>
  <div id="t05" class="thumbs-owl owl-carousel owl-theme">
    <div class="item" ng-repeat="foto in conteudo5">

      <img class="owl-lazy" data-src="{{foto.thumb}}" class="img-responsive" alt="">
    </div>
  </div>
</div>

<hr>
<!-- 
<h2>3</h2>

<ng-bind-html
  ng-bind-html="conteudo3">
</ng-bind-html>
<hr>

<h2>4</h2>

<ng-bind-html
  ng-bind-html="conteudo4">
</ng-bind-html>
<hr>

<h2>5</h2>

<ng-bind-html
  ng-bind-html="conteudo5">
</ng-bind-html> -->